@import "../variables.scss";

//White-background input with black outline
.whiteInputBlackOutline {
  font-size: $paragraph;
  padding: 7px 5px;
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 100%;
  margin: 10px auto;
}

.whiteOutlineInput {
  font-size: $paragraph;
  padding: 7px 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.halfWidthInput {
  width: 45%;
}

.rowFormInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
