@import "../variables.scss";

.textLinkWithBackground {
  font-size: 25px;
  padding: 8px 0;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.textLinkWithBackgroundEnabled {
  font-size: 25px;
  padding: 8px 0;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 500ms ease-in-out;
  background-color: $orange;
}

.whiteRoundedLink {
  font-size: 25px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 0;
  cursor: pointer;
  color: black;
  transition: 500ms ease-in-out;
}

.orangeRoundedLink {
  background-color: $orange;
  width: 100%;
  padding: 13px 0;
  margin: 5px 0;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  transition: 500ms ease-in-out;
  display: block;
  text-decoration: none;
}

@mixin roundedLink($color, $text-color) {
  background-color: $color;
  margin: 5px auto;
  padding: 13px 25px;
  border: none;
  color: $text-color;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 500ms ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: darken($color, 20%);
    }
  }
}

@mixin colorChangeRoundedLink(
  $color,
  $text-color,
  $hover-color,
  $hover-text-color
) {
  background-color: $color;
  width: 100%;
  padding: 13px 0;
  margin: 5px 0;
  border: none;
  color: $text-color;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  transition: 500ms ease-in-out;
  display: block;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      background-color: $hover-color;
      color: $hover-text-color;
    }
  }
}

@mixin pillTag($color, $text-color) {
  background-color: $color;
  padding: 8px 16px;
  border-radius: 50px;
  color: $text-color;
  font-size: 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: 500ms ease-in-out;
  font-size: 18px;

  @media (hover: hover) {
    &:hover {
      background-color: darken($color, 20%);
    }
  }
}

@mixin brickTag($color, $text-color) {
  background-color: $color;
  padding: 8px 16px;
  border-radius: 5px;
  color: $text-color;
  font-size: 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: 500ms ease-in-out;
  font-size: 18px;

  @media (hover: hover) {
    &:hover {
      background-color: darken($color, 20%);
    }
  }
}

@media (hover: hover) {
  .whiteRoundedLink:hover {
    background-color: $orange;
    color: white;
  }

  .orangeRoundedLink:hover {
    background-color: darken($orange, 20%);
  }
}
