/* Fixed Pixel Widths 1:1 */
.ten {
  height: 10px;
  width: 10px;
}

.fifteen {
  height: 15px;
  width: 15px;
}

.twenty {
  height: 20px;
  width: 20px;
}

.twentyFive {
  height: 25px;
  width: 25px;
}

.thirty {
  height: 30px;
  width: 30px;
}

.thirtyFive {
  height: 35px;
  width: 35px;
}

.forty {
  height: 40px;
  width: 40px;
}

.fortyFive {
  height: 45px;
  width: 45px;
}

.fifty {
  height: 50px;
  width: 50px;
}

.fiftyFive {
  height: 55px;
  width: 55px;
}

.sixty {
  height: 60px;
  width: 60px;
}

.sixtyFive {
  height: 65px;
  width: 65px;
}

.seventy {
  height: 70px;
  width: 70px;
}

.seventyFive {
  height: 75px;
  width: 75px;
}
