@import "../../../styles/variables.scss";
@import "../../../styles/modules/clickables";

.RestaurantCard {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1.5/1;

  .infoBox {
    padding: 20px;
  }

  a {
    display: block;
    box-sizing: border-box;
  }

  p {
    margin: 5px 0;
  }

  .image {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }

  .link {
    width: 30%;

    @include colorChangeBorderPill(
      $lightGray,
      $gray,
      white,
      $lightBlue,
      white,
      $lightBlue
    );
  }
}
