@import "../../../styles/variables.scss";
@import "../../../styles/modules/clickables";

.RestaurantCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  border-radius: 25px;

  .infoBox {
    padding: 20px;
    display: grid;
    grid-auto-rows: auto;
  }

  a {
    display: block;
    box-sizing: border-box;
  }

  p {
    margin: 5px 0;
    font-size: 0.9em;
  }

  h5 {
    margin: 8px 0;
  }

  .badgeBox {
    position: absolute;
    top: 8px;
    left: 12px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .inactiveBadge {
    @include compactPillNoHover($red);
  }

  .seasonalBadge {
    @include compactPillNoHover($yellow);
  }

  .locationBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .image {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }

  .categoryContainer,
  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    min-height: 37px;
  }

  .category {
    width: fit-content;
    @include compactPillNoHover($darkBlue);
  }

  .tag {
    width: fit-content;
    @include compactPillNoHover($seafoam);
  }

  .link {
    margin-top: 25px;
    width: fit-content;

    @include colorChangeBorderPill(
      $lightGray,
      $gray,
      white,
      $lightBlue,
      white,
      $lightBlue
    );
  }
}
