//Import variables
@import "variables";

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  color: $text-primary;
  font-weight: 700;
  max-width: 100%;
}

h1.secondary,
h2.secondary,
h3.secondary,
h4.secondary,
h5.secondary,
h6.secondary {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  font-weight: 500;
  color: $text-primary;
  max-width: 100%;
}

h1 {
  font-size: $heading-1;
}

h2 {
  font-size: $heading-2;
}

h3 {
  font-size: $heading-3;
}

h4 {
  font-size: $heading-4;
}

h5 {
  font-size: $heading-5;
}

p {
  margin: 0;
  padding: 0;
  font-family: $font-tertiary;
  font-weight: 400;
  font-size: $paragraph;
  color: $text-primary;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $primary;
  overflow-x: hidden;
}

.page {
  display: grid;
  grid-template-rows: auto 3fr auto;
  min-height: 100vh;
}
