@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orienta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Colors
// $background:
// $background: #03001c;
// $blue: #1b998b;
// $yellow: #f6ae2d;
// $orange: #f48923;
// $redOrange: #f26419; //originally red
// $red: #d11149;
// $darkRed: #941c2f;
// $green: #7fb800;
// $lightGreen: #aaf683;
// $lightPurple: #9381ff;
// $purple: #b026af;
// $violet: #7d2e68;
// $pink: #dc0073;

//Colors
$primary: #f5f3f3;
$secondary: #209ce4;
$tertiary: #2372e4;
$quaternary: #696b99;
$quinary: #171d3b;

//Fonts
$font-primary: "Exo", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-tertiary: "Open Sans", sans-serif;

//Font Sizes
$paragraph: 24px;
$heading-1: 48px;
$heading-2: 36px;
$heading-3: 32px;
$heading-4: 30px;
$heading-5: 28px;

//Text Colors
$text-primary: #000;

//Box Shadows
$shadow-secondary: 0px 0px 10px 0px $secondary;

/* Page Structure */
//Widths
$width-primary: 90%;
