@import "../../styles/mixins/responsive.scss";

.ItemGrid {
  display: grid;
  color: white;

  h2 {
    text-align: center;
  }
}

.ItemGrid.oneCol {
  grid-template-columns: 1fr;
}

.ItemGrid.multiCol {
  grid-template-columns: 1fr 1fr;
}

@include md {
  .ItemGrid.multiCol {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include lg {
  .ItemGrid.multiCol {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@include xl {
  .ItemGrid.multiCol {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
