//Import variables
@use "variables" as *;

//Import Modules
@use "./modules/borders";
@use "./modules/clickables";
@use "./modules/cards";
@use "./modules/flex";
@use "./modules/forms";
@use "./modules/grids";
@use "./modules/pages";
@use "./modules/inputs";
@use "./modules/overlays";
@use "./modules/sizing";
@use "./modules/typography";
@use "./modules/containers";
@use "./modules/margins";
@use "./modules/hovers";

//CSS Resets
// @import "~normalize.css/normalize.css";

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-family: $font-tertiary;
}

a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-tertiary;
}

button {
  cursor: pointer;
}
